@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
  background-image: url("./images/blue-background.jpg");
}


bg-gradient-to-tr from-emerald-700 to-emerald-300 


bg-[url('./images/blue-background.jpg')]

*/

.glass {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
